#first {
    color:rgb(229, 255, 127)
}

.title {
    color:rgb(255, 127, 210);
    font-size: 300%;
}

.thisisaclass {
    color:palegreen
}

html {
    background-color: azure;
}
.divtest {
    background-color: cornflowerblue;
}