body{
    background-color: beige;
}

#box1{
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
    position:relative;
    top: 50px;
    margin: auto;
}
#text1{
    left:120%;
    position: relative;
    top: 250 px;
}

#box2{
    width: 73vw;
    height: 33vh;
    margin: auto;
    border-style: solid;
    border-radius:3px;
    border-color:purple;
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: mediumvioletred;
}
#text2{
    margin: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#box3{
    position: sticky center;
    text-align: center;
    width: 73vw;
    height: 175vh;
    background-color: orangered;
    top: 0px;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    background-color: orangered;
    border-color: orange;
}
#text3{
    position:sticky;
    top:0;
    font-size: 50px;
}   